<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>VPN设置</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>VPN IP地址</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>www.gznftz.cn</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>vpnIP</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Key</key>
			<string>userName</string>
			<key>Title</key>
			<string>用户名称</string>
			<key>DefaultValue</key>
			<string>estar</string>
			<key>IsSecure</key>
			<false/>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>用户密码</string>
			<key>DefaultValue</key>
			<string>ysd8689sh</string>
			<key>IsSecure</key>
			<true/>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>Key</key>
			<string>userPassword</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>网址设置</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>网址地址</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Key</key>
			<string>url</string>
			<key>DefaultValue</key>
			<string>http://88.128.0.170:8082/x5/mobileUI/portal/mLogin.w</string>
			<key>IsSecure</key>
			<false/>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>用户名</string>
			<key>DefaultValue</key>
			<string>4131</string>
			<key>IsSecure</key>
			<false/>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>Key</key>
			<string>name</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>密码</string>
			<key>Key</key>
			<string>password</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>IsSecure</key>
			<true/>
			<key>DefaultValue</key>
			<string>1</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
